
body{
    background-color: plum;
    margin: 0;
    padding: 0;

}
nav ul li{
    list-style:none;
    display: inline;
    padding:35px;
    font-size: 50px;
    
}
 nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    cursor:pointer;
}
nav{
    background-color: black;
}

.image{
    padding-left: 3px;
    display:inline-block;
    vertical-align: middle;
}
.image img{
    border:3px solid #c71190;
    border-radius: 5px;
    
}
.card{
    background-color: antiquewhite;
    padding:7px;
    border-radius: 5px;
    height: 400px;
    width: 350px;
    border:2px solid #040103;
    display:inline-block;
    vertical-align: middle;
    

}
.card-content{
    
    font-size: xx-large;
}
button{
    border-radius: 10px;
    font-size: 20px;
    color:aliceblue;
    background-color: #c71190;
    height: 50px;
    width: 120px;
    

}
button:hover{
    background-color: rgb(236, 19, 199) ;
    cursor:pointer;

}